
.App {
  text-align: center;
  background-color: #f4f4f4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

strong{
    color: black;
}

.titulo h2{
  font-size: 4rem;
}

.titulo h3{
  font-size: 2rem;
}

.navBar{
    background-color: #84b09b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100%;
    font-size: calc(10px + 2vmin);

}

.navBar a {
  text-decoration: none;
  padding: 1rem;
  color: white;
}

.navBar h1 {
  font-size: 1.5rem;
}

.navBar a:hover {
    color: white;
}


.menu a:hover {
  background-color:#95d09b 
}

.navbar__cart{
  color: white;
  cursor: pointer;
}

.navbar__cart:hover{
  color: white;
}

.contador{
  display: flex;
  flex-direction: column;
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
}



.itemDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-top: 2rem;
  background-color: rgba(128, 128, 128, 0.267);

}

.itemDetail div{
    padding: 1rem;
}

.libro__description {
  
  background-color: rgba(102, 99, 99, 0.11);
  width: 30vw;
}

.contador div{
  padding: 0.3rem;
}

.button__back{
  margin: 2rem 0 2rem;
  width: 7rem;
  height: 3.5rem;
}

.item__cart{
  background-color: #84b09b28;
}

.itemCart__container img {
  width: 6rem;
  margin-right: 10rem;
}

.cart__form input{
  margin: 1rem;
}

.seleccionar__link {
  text-decoration: none;
  margin: 0 0.3rem 0 0.3rem;
}