
.App {
  text-align: center;
  background-color: #f4f4f4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app{
  width: 100%;
}

.App-header {
  /* min-height: 100vh; */
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

strong{
    color: black;
}

.titulo h2{
  font-size: 4rem;
}

.titulo h3{
  font-size: 2rem;
}

.App-NavBar{
    background-color: #84b09b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.App-NavBar a {
  text-decoration: none;
  padding: 1rem;
  color: white;
}

.App-NavBar h1 {
  font-size: 1.5rem;
}

.App-NavBar a:hover {
    color: white;
}

.menu a:hover {
  background-color:#95d09b 
}

.navbar__cart{
  color: white;
  cursor: pointer;
}

.navbar__cart:hover{
  color: white;
}

.contador{
  display: flex;
  flex-direction: column;
}

.details{
  background-color: rgba(128, 128, 128, 0.267);
}
