body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__item{
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  flex-wrap: wrap;
}

.item{
  margin: 3rem;
}

.item h2 {
  overflow:hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
}

.libro__name{
  width:15rem;
  height: 2.5rem;
}

.libro__img img {
  width: 10rem;
}

header{
  display: flex;
  justify-content: center;
} 

.logoLibros img {
    width: 10rem;
}

.itemCart__container{
  padding: 5rem 0 5rem;
}

.item__cart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.item__cart i {
  margin:0 3rem 0 .5rem
}

.itemDelete__all{
  margin-top: 10rem;
}

.cart__widget{
  display: flex;
  flex-direction: column;
  align-items: center;
}
